07/entities-lab-starter/src/main/resources/xsd/order-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    order-schema.xsd
    ────────────────────────────────────────────────────────────────────────────
    XML Schema for the Order domain — used in Lab 4 (schema validation).

    This schema is loaded by ValidatingOrderReader to validate inbound XML:
      Classpath location: /xsd/order-schema.xsd
      Source location:    src/main/resources/xsd/order-schema.xsd

    Validates the structure produced by the JAXB-annotated Order class
    after completing Lab 3.
    ────────────────────────────────────────────────────────────────────────────
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/shop/orders"
    targetNamespace="http://example.com/shop/orders"
    elementFormDefault="qualified">

    <!-- ── Enumeration ─────────────────────────────────────────────────── -->

    <xs:simpleType name="OrderStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEW"/>
            <xs:enumeration value="PROCESSING"/>
            <xs:enumeration value="SHIPPED"/>
            <xs:enumeration value="DELIVERED"/>
            <xs:enumeration value="CANCELLED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ── AddressType ─────────────────────────────────────────────────── -->

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street"   type="xs:string"/>
            <xs:element name="city"     type="xs:string"/>
            <xs:element name="postCode" type="xs:string"/>
            <xs:element name="country"  type="xs:string" default="GB"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ── LineItemType ────────────────────────────────────────────────── -->

    <xs:complexType name="LineItemType">
        <xs:sequence>
            <xs:element name="productName" type="xs:string"/>
            <xs:element name="quantity"    type="xs:positiveInteger"/>
            <xs:element name="unitPrice"   type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="sku" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ── OrderType ───────────────────────────────────────────────────── -->

    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element name="customerName"    type="xs:string"/>
            <xs:element name="customerEmail"   type="xs:string"/>
            <xs:element name="orderDate"       type="xs:string"/>
            <xs:element name="deliveryAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="lines">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="line" type="tns:LineItemType"
                                    minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="totalAmount"     type="xs:decimal"/>
            <xs:element name="notes"           type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="orderId" type="xs:string"          use="required"/>
        <xs:attribute name="status"  type="tns:OrderStatusType" use="required"/>
    </xs:complexType>

    <!-- ── Global element ──────────────────────────────────────────────── -->

    <xs:element name="order" type="tns:OrderType"/>

</xs:schema>
